<html>
    <head>
        <title>
            Meme Website
        </title>
        <meta> name="viewport" content="width=device-width, initial-scale=1.0">
        <meta> <http-equiv="refresh" content="30;url=http://127.0.0.1:5000/">
            <style>
                body {background-color: #000000; background-repeat: no-repeat;background-position: top left; background-size: 100% 100%; background-attachment: fixed;}
                h1{text-align: center; font-family: arial; color: #ffffff;background-color: #000000;}
                p {text-align: center; font-family:Georgia, serif; font-size: 48px; font-style:normal; font-weight: bold; color: #ffffff; background-color: #000000;}
            </style>
    </head>
    <body>
        <div class="row">
            <div class="column" style="background-color:#ffffff"></div>
            <h1>A website to gather memes!</h1>
            <p> Your IP {{ip}} niggaaaaaa</p>
            
            <form action="/" method="get">
               <center> <button name="forwardBtn" type="submit" style="background-color:#0a0a23;
                    color: #fff;
                    border: 2px solid #ffffff;
                    border-radius:10px;
                    box-shadow: 0px 0px 2px 2px rgb(192, 51, 51);
                    padding: 14px 28px;
                    font-size: 16px;">View Next</button></center>
            </form>
            <div class="column"></div>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <div class="square">
            <center><img src={{meme_pic}} style="object-fit:contain;
                width:500px;
                height:600px;"/>></center>
            </div>
            
            <p> Current subreddit: {{subriddit}}</p>
          </div>
       
       
        
    </body>
</html>